<h1>Stepful Coaching Scheduler</h1>

<div>
	Please navigate to the Coach dashboard and select a coach to add available times to their calendar [1/6]. The coaches' available times will appear below the date/time selector in chronological order and will be distinguished by being still available or booked [2/6].
	<br><br>
	Next, navigate to the Student dashboard and select a student to view and book the upcoming available times across all the coaches. [3/6] [4/6]
	<br><br>
	Return to the Coach dashboard and select a coach to see their new booked meetings. Click on the one of the booked meetings to get additional details, as well as to start and end the meeting. When the coach marks the meeting as ended, a button to share meeting feedback will be featured. Leave a review and see that it is then featured on the meeting page that you can go back to access from the coaches' scheduling page. [5/6] [6/6]
</div>

